<ion-header>
  <ion-toolbar>
    <ion-title>
      AGENDA DE CONTATOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-item>
    <ion-input [(ngModel)]="nome" label="Nome" placeholder="Insira o nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="telefone" type="number" label="Telefone" placeholder="Insira o telefone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="cadastrar()" expand="full">Cadastrar</ion-button>
  </ion-item>
  </ion-list>
  <ion-list>
    <ion-header>
      Meus Contatos
    </ion-header>
    <ion-item *ngFor="let contato of contatos">
      <ion-label>{{contato.nome}}</ion-label>
      <ion-label>{{contato.telefone}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

